body{
  background-color: black;
}

div{
  background-color: rgba(56, 41, 41, 0.63);
}

div:hover{
  background-color: rgb(161, 108, 10);
  margin-left: 0%;
  margin-right: 0%;
  
}

h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: azure;  
}

img{
  width: 100%;
  height: auto;
  opacity: 0.8;
}



